@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Scope styles to the .login-page-wrapper class to avoid affecting other parts */
.login-page-wrapper .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  direction: ltr;
}

.login-page-wrapper .form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

  /* Adding the shadow effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Horizontal, Vertical, Blur, Color */
  border-radius: 10px; /* Optional: Adds rounded corners to the form container */
}

.login-page-wrapper .form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-page-wrapper .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-page-wrapper .form button:hover,
.login-page-wrapper .form button:active,
.login-page-wrapper .form button:focus {
  background: #43a047;
}

.login-page-wrapper .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.login-page-wrapper .form .message a {
  color: #4caf50;
  text-decoration: none;
}

.login-page-wrapper .form .register-form {
  display: none;
}

.login-page-wrapper .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.login-page-wrapper .container:before,
.login-page-wrapper .container:after {
  content: "";
  display: block;
  clear: both;
}

.login-page-wrapper .container .info {
  margin: 50px auto;
  text-align: center;
}

.login-page-wrapper .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.login-page-wrapper .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.login-page-wrapper .container .info span a {
  color: #000000;
  text-decoration: none;
}

.login-page-wrapper .container .info span .fa {
  color: #ef3b3a;
}
