.todoItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid blue;
  margin: 10px 0;
  padding: 0 10px;
}

.todoItemContainer button {
  all: unset;
  background-color: rgb(217, 216, 216);
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
}

.todo-list-container {
  max-width: 800px; /* Optional: limit the width to make it look cleaner */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .todo-list-container {
    padding: 10px;
  }
}
.custom-textarea {
  width: 90%; /* Set the width to 90% */
  margin: 0 auto; /* Center the textarea */
  display: block; /* Ensure it behaves like a block element */
}
